.card {
  border-radius: 0 !important;
}

.card-title {
  line-height: 1.5;
}

.fa-link {
  font-size: 0.5em;
  color: dodgerblue;
}

@media only screen and (min-width: 768px) {
  #past-quotes {
    max-height: 100vh;
    overflow-y: scroll;
    text-align: right;
  }
}
